/* Variable */

:root {
  --primaryText: #fff;
  --primaryBg: #202124;
  --subBg: #727377;
  --subBg2: #303133;
  --subBg3: #444446;
}

/* All elements */

* {
  background-color: #202124;
  color: var(--primaryText);
  padding: 0;
  margin: 0;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

/* Main body */

body {
  box-sizing: border-box;
  overflow-x: hidden;
}

/* Fixed classes */

.underline {
  border-bottom: solid 1px transparent;
}

.underline:hover {
  border-bottom-color: var(--primary-text);
}

.show {
  visibility: visible !important;
}

.hide {
  visibility: hidden !important;
}

/* Navigation bar */

nav {
  height: 10%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 98vw;
  margin-left: 2vw;
}

nav ul {
  display: flex;
  list-style-type: none;
  height: 100%;
}

nav ul li {
  cursor: pointer;
  margin: 0 7px;
  display: flex;
  align-items: flex-end;
  height: 60%;
}

.option_text {
  height: 15px;
  font-size: 0.9rem;
  margin-top: 4px;
}

.nav_text {
  padding-top: 7px;
}

.option_bg {
  border: solid 1px transparent;
  border-radius: 50%;
  padding: 5px;
  margin: 0;
}

.option_bg:hover {
  background-color: var(--subBg3);
}

.google_options_container {
  position: relative;
}

.tooltip {
  display: inline-block;
  visibility: hidden;
  min-width: 90px;
  width: 0;
  min-height: 7px;
  background-color: var(--subBg);
  color: var(--primaryText);
  text-align: center;
  font-size: 0.9rem;
  font-weight: 400;
  padding: 2px;
  position: absolute;
  z-index: 1;
  top: 40px;
  left: -32px;
  right: 0;
}

.account {
  left: -75px;
}

/* Foogle */

.foogle_container {
  width: 100%;
  margin-top: 4%;
  display: flex;
  justify-content: center;
}

.foogle {
  font-size: 5rem;
  font-weight: 700;
  cursor: context-menu;
  user-select: none;
}

/* Search bar */

.search_container {
  margin-top: 20px;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#search {
  border: solid 1px var(--subBg);
  border-radius: 30px;
  height: 35%;
  width: 40%;
  min-width: 250px;
  padding: 10px 40px;
}

#search:hover {
  box-shadow: 0 4px 8px 0 #00000030, 0 6px 20px 0 #00000030;
}

#search:focus {
  outline: none;
}

#search_icon {
  position: relative;
  cursor: context-menu;
  left: 2.5%;
  background-color: transparent;
  font-size: 22px;
}

#camera_icon {
  right: 2.5%;
  cursor: pointer;
  position: relative;
  background-color: transparent;
  font-size: 22px;
}

#camera {
  position: absolute;
  top: 37%;
  left: 67%;
  width: 125px;
}

#search:hover,
#search_icon:hover,
#camera_icon:hover {
  background-color: var(--subBg2);
}

/* Bottom options */

.bottom_options {
  width: 100vw;
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.bottom_text1_container {
  cursor: pointer;
  width: 49%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.bottom_text2_container {
  cursor: pointer;
  width: 49%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.bottom_text {
  background-color: var(--subBg2);
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1px 10px;
  border: solid 1px transparent;
  border-radius: 5px;
  font-size: 0.9em;
}

.bottom_text:hover {
  border-color: var(--subBg);
}

/* Language info */

.lang {
  margin-top: 20px;
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lang p {
  font-size: 0.8em;
  color: #dedee6b7;
}
.lang p span {
  color: #78adcf;
  font-size: 1em;
}

/* Footer section */

.footer {
  width: 100vw;
  margin-left: 0;
  height: 15vh;
  position: absolute;
  bottom: 0;
  background-color: #171717;
  color: #999da2;
}

.footer_top {
  height: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #171717;
  border-bottom: solid 1px #727377;
}

.footer_top_text {
  margin-left: 2vw;
  background-color: #171717;
  color: #999da2;
  font-size: 0.9em;
}

.footer_bottom {
  width: 98vw;
  margin-left: 1vw;
  height: 40%;
  display: flex;
  justify-content: space-between;
  background-color: #171717;
}

.ul_li_fixed {
  cursor: pointer;
  margin: 15px;
  height: 15px;
  border-bottom: solid 1px transparent;
  background-color: #171717;
  color: #999da2;
  font-size: 0.9em;
}

.text_fix {
  min-width: 110px;
}

.ul_li_fixed:hover {
  border-bottom-color: #999da2;
}

.footer_bottom_ul1 {
  width: 50%;
  min-width: 400px;
  display: flex;
  list-style-type: none;
  background-color: #171717;
}

.footer_bottom_ul2 {
  overflow: hidden;
  width: 40%;
  min-width: 80px;
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  background-color: #171717;
}

/* Media Query */

@media (max-width: 600px) {
  .foogle {
    font-size: 3.5rem;
  }
  .search {
    left: 5%;
  }
  .camera {
    right: 5%;
  }
}
